<html>
    <body>
        <form method="POST">
            {% csrf_token %}
            name: <input type="text" name="name" value="{{data.name}}"><br>
            empid: <input type="text" name="empid" value="{{data.empid}}"><br>
            address: <input type="text" name="address" value="{{data.address}}"><br>
            salary_perday: <input type="text" name="salary_perday" value="{{data.salary_perday}}"><br>
            emp_type: <select name="emp_type">
                <option value="ADMIN">ADMIN</option>
                <option value="HR">HR</option>
                <option value="EMPLOYEE">EMPLOYEE</option>
            </select><br>
            email: <input type="text" name="email" value="{{data.email}}"><br>
            phone: <input type="text" name="phone" value="{{data.phone}}"><br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>