<html>
    <head>
        <title>SALES APPLICATION</title>
    </head>
    <body>
        <h1>Categories</h1>
        <a href="/category/create/">CREATE CATEGORY</a>
        <table border="2">
            <tr><th>ID</th><th>NAME</th><th>OPERATIONS</th></tr>
            {% for cat in cats %}
                <tr>
                    <td>{{cat.id}}</td><td>{{ cat.name}}</td>
                    <td><a href="/category/update/{{ cat.id }}/">UPDATE</a>||
                    <a href="/category/delete/{{ cat.id }}/">DELETE</a>||
                    <a href="/category/hide/{{ cat.id }}/">HIDE</a>
                </td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>