{% extends 'base.html'%}
{% block content%}
    <h1>Customers</h1>
    <a href="/customer/create/">CREATE customer</a>
    <table border="2">
        <tr><th>ID</th><th>NAME</th><th>OPERATIONS</th></tr>
        {% for cat in cats %}
            <tr>
                <td>{{cat.id}}</td><td>{{ cat.name}}</td>
                <td><a href="/category/update/{{ cat.id }}/">UPDATE</a>||
                <a href="/category/delete/{{ cat.id }}/">DELETE</a>||
                <a href="/category/hide/{{ cat.id }}/">HIDE</a>
            </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}